.custompanel
{
	border:1px solid rgb(200,200,200); 
	padding:10px;
}

.custom_p
{
	font-size: 15px; 
	font-weight: bold; 
	color: royalblue
}

input, textarea
{
	text-transform: uppercase;
}

table.detail-view tbody tr th
{
	width: 20%;
	border:0px;

}

table.detail-view tbody tr td:before
{
	width: 80%;
	border:0px;
	content: ": ";
	padding-right: 20px;

}

table.detail-view tbody tr td
{
	font-size: 15px;
}



.detail-view > tbody > tr:nth-child(odd) > td
{
	border:0px;
}

.detail-view>thead>tr>th, .detail-view>tbody>tr>th, .detail-view>tfoot>tr>th, .detail-view>thead>tr>td, .detail-view>tbody>tr>td, .detail-view>tfoot>tr>td
{
	border:0px;
}

span.search_link
{
	font-size: 15px;
	text-decoration: underline;
	color:royalblue;
	padding-left: 20px;
	cursor: pointer;
}

span.search_close
{
	font-size: 15px;
	text-decoration: underline;
	color:red;
	display: none;
	cursor: pointer;
}
.search_panel
{
	display: none;
}

.hematology-create h1
{
	/*margin-left: 0px;*/
	margin-left: 14px;
	font-size: 20px;
	font-weight: bold;
}

/*Bread crump*/

.content-header h5 ul.breadcrumb
{
	margin-left: 0px;
}

body 
{
	margin: 0; 
	height: 100%; 
	overflow: hidden;
}

/*Active form*/
table.activeform tbody tr td
{
	padding:0px;
	margin:0px;
	border-spacing: 0px;
	border-top:1px solid white;
}

table.activeform tbody tr td:first-child
{
	
	padding-right: 0px;
	text-align: right;
}

table.activeform tbody tr td:nth-child(3)
{
	padding-left: 10px;
	text-align: left;
}

/*input.form-control
{
	width: 60%;
	margin-left: 20%;
	margin-right: auto;
}*/

.hematology input.form-control
{
	text-align: center;
}

span.enabled
{
	width: 10px; 
	font-size: 12px; 
	background-color: green; 
	padding:2px; 
	border-radius: 3px; 
	padding-right: 5px; 
	padding-left: 5px; 
	color:white; 
	cursor: pointer;
}

span.disabled
{
	width: 10px; 
	font-size: 12px; 
	background-color: gray; 
	padding:2px; 
	border-radius: 3px; 
	padding-right: 5px; 
	padding-left: 5px; 
	color:white; 
	cursor: pointer;
}

/*Sizes*/
.font_25px
{
	font-size: 25px;
}

.font_20px
{
	font-size: 25px;
}

.font_15px
{
	font-size: 25px;
}

.font_12px
{
	font-size: 25px;
}

.my_uppercase
{
	text-transform: uppercase;
}

.my_capitalize
{
	text-transform: capitalize;
}

.my_lowercase
{
	text-transform: lowercase;
}

.my_bold
{
	font-weight: bold;
}

.form-group select
{
	text-transform: uppercase;
}

/* Hide Tabs and Tab body*/

/*
#hema,ul#lab_test_tab
{
	display: none;
}

ul#lab_test_tab li:nth-child(1)
{
	display: none;
}

ul#lab_test_tab li:nth-child(2)
{
	display: none;
}

ul#lab_test_tab li:nth-child(3)
{
	display: none;
}

ul#lab_test_tab li:nth-child(4)
{
	display: none;
}

ul#lab_test_tab li:nth-child(5)
{
	display: none;
}*/
